---
import Layout from '../layouts/Layout.astro';
import PriceList from '../components/priceList.vue';
---

<Layout title="คำนวณการรีไฟแนนซ์รถยนต์" description="ระบบคำนวณรีไฟแนนซ์รถยนต์ง่ายๆ ใน 3 ขึ้นตอน">
	<main>
		<PriceList client:load />
	</main>
</Layout>

<style>
</style>
