---
import Layout from '../layouts/Layout.astro';
import PriceList from '../components/priceList.vue';
---

<Layout title="คำนวนการรีไฟแนนซ์รถยนต์">
	<main>
		<PriceList client:load />
	</main>
</Layout>

<style>
	
</style>
