---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import 'bootstrap/dist/css/bootstrap.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="manifest" href="/manifest.json">
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Sarabun';
		src: url('/fonts/Sarabun.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Kanit';
		src: url('/fonts/Kanit.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	body {
		font-family: 'Sarabun', sans-serif;
		background: linear-gradient(135deg, #ff1414, #8f0000);
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Kanit', sans-serif;
	}
</style>

<script>
	// if ('serviceWorker' in navigator) {
	// 	window.addEventListener('load', function() {
	// 		navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
	// 		console.log('Service Worker registered with scope:', registration.scope);
	// 		}).catch(function(err) {
	// 		console.log('Service Worker registration failed:', err);
	// 		});
	// 	});
	// }
</script>